<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./">LOGO NAME</a>
            <a class="navbar-brand hidden" href="./">LOGO</a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- /.menu-title -->
                <h3 class="menu-title"> Basics </h3>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-circle"></i>Parent - 1</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -1 ", new_employee_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -2 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -3 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -4 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -5 ", employees_url %>
                        </li>
                    </ul>
                </li>

                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-circle"></i>Parent - 1</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -1 ", new_employee_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -2 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -3 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -4 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -5 ", employees_url %>
                        </li>
                    </ul>
                </li>

                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa  fa-circle"></i>Parent - 1</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -1 ", new_employee_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -2 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -3 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -4 ", employees_url %>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <%= link_to "Child -5 ", employees_url %>
                        </li>
                    </ul>
                </li>

                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->